<a href="mailto:&#97;&#112;&#104;&#101;&#120;&#64;&#97;&#112;&#104;&#101;&#120;&#46;&#99;&#120;" title="Email">
    <img src="/assets/icons/envelope.svg" alt="Email" width="24" height="24" />
</a>
<a href="{{ site.social.linkedin }}" target="_blank" title="LinkedIn">
    <img src="/assets/icons/linkedin.svg" alt="LinkedIn" width="24" height="24" />
</a>
<a href="{{ site.social.github }}" target="_blank" title="GitHub">
    <img src="/assets/icons/github.svg" alt="GitHub" width="24" height="24" />
</a>
<a href="{{ site.social.x }}" target="_blank" title="X">
    <img src="/assets/icons/x-twitter.svg" alt="X" width="24" height="24" />
</a>
<a href="{{ site.social.instagram }}" target="_blank" title="Instagram">
    <img src="/assets/icons/instagram.svg" alt="Instagram" width="24" height="24" />
</a>
<a href="{{ site.social.soundcloud }}" target="_blank" title="SoundCloud">
    <img src="/assets/icons/soundcloud.svg" alt="SoundCloud" width="24" height="24" />
</a>
<a href="{{ site.social.blog }}" target="_blank" title="Blog">
    <img src="/assets/icons/medium.svg" alt="Blog" width="24" height="24" />
</a>
