---
layout: base.njk
title: Afik Cohen | Software Engineer
---

<!-- Hero section -->
<header id="hero">
    <img src="/assets/profile.jpg" alt="Afik Cohen" class="profile-photo" />
    <h1 class="name">{{ site.hero.name }}</h1>
    <div class="social-links">
        {% include "social-links.njk" %}
    </div>
</header>

<main>
    <!-- About section -->
    <section id="about">
        {{ collections.about[0].content | safe }}
    </section>

    <!-- Projects section -->
    <section id="projects">
        {{ collections.projects[0].content | safe }}
    </section>

    <!-- Writing section -->
    <section id="blog">
        {{ collections.writing[0].content | safe }}
    </section>

    <!-- Contact section -->
    <section id="contact">
        <h2>Contact</h2>
        <p>Interested in collaborating or just want to say hi? Reach out via email at <a href="mailto:&#97;&#112;&#104;&#101;&#120;&#64;&#97;&#112;&#104;&#101;&#120;&#46;&#99;&#120;">&#97;&#112;&#104;&#101;&#120;&#64;&#97;&#112;&#104;&#101;&#120;&#46;&#99;&#120;</a> or using one of the socials below.</p>
        <div class="social-links">
            {% include "social-links.njk" %}
        </div>
    </section>
</main>
